.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

body {
    min-width:15%;
    margin:0;
    padding:0;
    display:block;
}

.container {
    margin-top: 40px;
    border-top: 1px solid red;
    width:100%;
    overflow:hidden;
    position:relative;
}

.container .column {
    position:relative;
    float:left;
    padding-bottom: 20010px;  /* X + padding-bottom */
    margin-bottom: -20000px;  /* X */

}

#center {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    width:70%;
    border: 2px solid black;
    margin: 0 15% 0 15%;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#left {
    width:15%;
    margin-left: -100%;
    right:0%;
    border: 2px solid black;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

#right {
    width: 15%;
    left: 85%;
    margin-left: -100%;
    border: 2px solid black;

}

.mid-content {

}














footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}







.rating{
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
}



.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: #21568b;
}
